* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --sm: 1rem;
  --md: 1.5rem;
  --lg: 2.4rem;

  --font: "Barlow Semi Condensed", serif;
  --slim: 400;
  --bold: 700;

  --color: hsl(228, 45%, 44%);
  --white: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);
}

.conteiner__main {
  max-width: 37.5rem;
  background-color: var(--white);
  border-radius: 0.8rem;
  padding: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  background-color: var(--Slate300);
}

.conteiner__img img {
  width: 100%;
  max-width: 35rem;
  border-radius: 0.8rem;
  margin: 0 auto;
}

.title {
  margin: 1rem;
  padding: 0.8rem 2rem 0rem 2rem;
  font-size: var(--lg);
  font-weight: var(--bold);
  color: var(--Slate900);
  text-align: center;
}

.parrafo {
  margin: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: var(--md);
  font-weight: var(--slim);
  color: var(--Slate500);
  text-align: center;
}

.footer {
  text-align: center;
  font-size: var(--sm);
}

@media (min-width: 38rem) {
  .conteiner__main {
    width: 25rem;
    height: auto;
  }

  .title {
    font-size: var(--md);
    padding: 0 1rem;
  }

  .parrafo {
    font-size: var(--sm);
    padding: 0 2rem;
  }
}
